<!DOCTYPE html>

<html lang="fr">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/TP2/styles.css">


    <link rel="shortcut icon" href="" type="">
    <link rel="icon" href="" type="">
    <link rel="apple-touch-icon" href="">

    <script src="https://unpkg.com/vue@3"></script>


    <title>Premier TP sur Vue JS 3</title>


</head>


<body>

    <header class="header">
        <div class="headzone"></div>
    </header>



    <div class="bodyzone">

        <div id="app">

            <h1> Bonjour, nous sommes dans le groupe de {{groupe}} </h1>
            <h1> Notre âge est {{age}} ans</h1>

            <p> nous sommes en {{annee}} </p> 

        </div>

        <div id="vm2">

            <h1 :class="{ BN : isWhite }"> Tu peux inverser ma couleur, clique sur le bouton -> couleur :
                <p v-if="isWhite"> {{myText}} </p>
                <p v-else="!isWhite" > {{myText}} </p>
            </h1>

            <button @click="inverser">Changer la couleur</button>
        </div>

        <div id="tableau">

            <table>

                <tr>
                    <th>Id étudiant</th>
                    <th>Nom</th>
                    <th>Note</th>
                    <th>Groupe</th>
                </tr>

                <tr v-for="(stud, index) in tab">
                    <td> {{ index }} </td>
                    <td> {{ stud.nom }} </td>
                    <td> {{ stud.note }} </td>
                    <td> {{ stud.groupe }} </td>
                </tr>

                <tr>
                    <th>Id étudiant</th>
                    <th>Nom</th>
                    <th>Note</th>
                    <th>Groupe</th>
                </tr>


                <tr v-for="(stud, index) in tab" v-show="quelgroupe(index)">

                    <td> {{ index }} </td>
                    <td> {{ stud.nom }} </td>
                    <td> {{ stud.note }} </td>
                    <td> {{ stud.groupe }} </td>
                    
                </tr>

                <tr>
                    <th>Id étudiant</th>
                    <th>Nom</th>
                    <th>Note</th>
                    <th>Groupe</th>
                </tr>

                <tr v-for="(stud, index) in tab" v-show="!quelgroupe(index)">
                    <td> {{ index }} </td>
                    <td> {{ stud.nom }} </td>
                    <td> {{ stud.note }} </td>
                    <td> {{ stud.groupe }} </td>
                </tr>

            </table>


        </div>

    </div>


    <footer class="pied">

        <div class="footerzone"></div>

    </footer>


    <script src="/TP2/main.js"></script>
    <script src="/TP2/jarvis.js"></script>


</body>

</html>